<nav>
    <div class="site-title">
       <p>Jingze's site</p>
       <li><a href='/'>Blog</a></li>
       <li><a href="/about">About</a></li>
       <li><a href="/blogs/create">New Blog</a></li>
    </div>

</nav>